
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden; /* opcional */
}
.Conteudo {
    width: 100%;
    padding: 20px;
    height: 100%;
    background-color: lightgray;
  }

.app {
    display: flex;
    height: 100%;
    flex-direction: row;
}


